html {
  font-family: 'Montserrat', sans-serif;
  background: #101010;
  font-family: Montserrat;
}

body {
  margin: 0px;
  border: 0px;
  background: #101010;
}

/* Navbar */
.inner-navbar {
  max-width: 1440px;
}

.nav-item {
  margin: 0px 17px;
}

.navbar-nav {
  border-radius: 20px;
  background: rgba(255, 149, 51, 0.6);
}

.navbar-nav p {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}

.navbar {
  transition: all 0.2s linear;
  padding: 0px;
  margin: 0px;
  background: rgba(245, 245, 245, 0);
}

.navbar.scrolled {
  background: rgba(0, 0, 0, 0.842);
  backdrop-filter: blur(5px);
}

.logo {
  color: white;
}

.logo span {
  color: #fdc55e;
}

.menu {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  backdrop-filter: blur(5px);
}

.nav-order {
  top: 18px;
  right: 58px;
  border-radius: 50px;
  background: linear-gradient(0deg, #ff9533 0%, #ff9533 100%), #000;
}

.nav-order p {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}

@media only screen and (min-width: 992px) {
  .navbar-nav {
    border-radius: 100px;
    backdrop-filter: blur(5px);
    background: rgba(255, 149, 51, 0.6);
  }

  .menu {
    background: none;
    backdrop-filter: none;
  }
}

.logo h2 {
  font-size: 23px;
}

@media only screen and (min-width: 768px) {
  .logo h2 {
    font-size: 35px;
  }
}

.navbar-toggler-icon {
  color: #fff;
}

/* Navbar end */

/* ___________________--Landing_-_____________________________ */

#landing {
  /* width: 100vw; */
  min-height: 900px;
  background: #101010;
  padding-bottom: 162px;
}

.border-landing {
  background: #ffeed3;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
.landingcon {
  height: 100%;
}

.welcome-landing {
  margin-top: 150px;
}

.text-landing .welcome-landing {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 800;
  border: #000 2px solid;
  padding: 10px 40px;
  border-radius: 50px;
}

.tagline-landing {
  color: #000;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: -5.76px;
}

.tagline-landing span {
  color: #ffa439;
  text-align: center;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px; /* 93.75% */
  letter-spacing: -5.76px;
}

.deskripsi-tagline-landing {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gambar-landing {
  width: 705px;
}

.gambar-kiri {
  bottom: 0;
  left: 0;
  height: 325.665px;
}

.emot-lope {
  top: 0;
  left: 150px;
  width: 64.492px;
}

.king {
  width: 96.771px;
  top: 0;
  right: 237px;
}

.lope {
  width: 267px;
  right: 0;
  bottom: 180px;
}

.tombol-landing {
  border-radius: 50px;
  background: #ffeed3;
  bottom: 90px;
  padding: 10px;
}

.tombol-landing .order {
  border-radius: 50px;
  border: 2px solid #000;
  background: linear-gradient(0deg, #ff9533 0%, #ff9533 100%), #000;
  color: #000;
  width: 177px;
  height: 59px;
  flex-shrink: 0;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.tombol-landing .more {
  width: 177px;
  height: 59px;
  flex-shrink: 0;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  border-radius: 50px;
  border: 2px solid #000;
}
.aboutus-atas-kanan {
  width: 312.486px;
  bottom: 0px;
  right: -20px;
}
.aboutus-atas-kiri {
  width: 400px;
  bottom: 30px;
  left: -120px;
}

.piala {
  width: 256.912px;
  right: -50px;
  bottom: 100px;
}

.Qdayak {
  top: 18px;
  left: 58px;
}

@media only screen and (max-width: 992px) {
  .text-landing .welcome-landing {
    font-size: 12px;
  }
  .tagline-landing {
    font-size: 30px;
    letter-spacing: -2.7px;
    line-height: 33px;
  }
  .tagline-landing span {
    font-size: 30px;
    letter-spacing: -2.7px;
  }
  .gambar-landing {
    width: 444px;
  }
  .tombol-landing .more {
    width: 112px;
    height: 37px;
    font-size: 10px;
  }

  .tombol-landing {
    padding: 8px;
    bottom: 50px;
  }
  .tombol-landing .order {
    width: 112px;
    height: 37px;
    font-size: 10px;
  }
  .order-icon {
    width: 10px;
    height: 10.513px;
  }
  .gambar-kiri {
    bottom: 150px;
    left: 0;
    height: 120px;
  }
  .lope {
    width: 120px;
    right: -50px;
    bottom: 180px;
  }
  .emot-lope {
    top: 0;
    left: 110px;
    width: 22px;
  }
  .king {
    width: 68px;
    top: 0;
    right: 100px;
  }
  .aboutus-atas-kanan {
    width: 122px;
    bottom: 0px;
    right: -20px;
  }
  .aboutus-atas-kiri {
    width: 120px;
    bottom: 0px;
    left: -10px;
  }

  #landing {
    padding-bottom: 0;
    min-height: 690px;
  }
}

/* ___________________--Landing end_-_____________________________ */

/* _____________________--Aboutus-____________________________________________ */

#aboutus {
  background-color: #101010;
}

.judul-aboutus {
  font-size: 16px;
  font-weight: 800;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 7px 20px;
}
.tagline-aboutus {
  color: #fff;
  font-size: 36px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -2.5px;
}

.menu-aboutus p,
span {
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
}

.menu-aboutus li {
  list-style: none;
}

.menu-aboutus ul {
  padding: 0%;
}

.learnmore {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  border-radius: 50px;
  background: #ff9533;
  padding: 10px 25px;
}

.img-aboutus {
  width: 100%;
  height: 440px;
  border-radius: 80px;
  object-fit: cover;
  object-position: center;
}

@media only screen and (max-width: 992px) {
  .judul-aboutus {
    font-size: 12px;
  }

  .tagline-aboutus {
    font-size: 25px;
  }
  .menu-aboutus p,
  span {
    font-size: 14px;
  }
  .img-aboutus {
    height: 390px;
  }
}

/* _____________________--Aboutus end-____________________________________________ */

/* ___________________--Award-_________________________________ */

#award {
  background-color: #101010;
}

.judul-award {
  font-size: 16px;
  font-weight: 800;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 7px 20px;
}
.tagline-award {
  color: #fff;
  font-size: 36px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -2.5px;
}

.menu-award p {
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
}

.img-award {
  width: 100%;
  height: 571.64px;

  border-radius: 80px;
  object-fit: cover;
  object-position: center;
}

.award-award {
  border-radius: 80px;
  background: rgba(135, 135, 135, 0.3);
  padding: 25px 10px;
  backdrop-filter: blur(12.5px);
}

.award-award h1 {
  color: #ff9533;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.award-award p {
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

@media only screen and (max-width: 992px) {
  .judul-award {
    font-size: 12px;
  }

  .tagline-award {
    font-size: 25px;
  }
  .menu-award p {
    font-size: 14px;
  }
  .img-award {
    height: 390px;
  }

  .award-award {
    padding: 25px 10px;
  }

  .award-award h1 {
    font-size: 25px;
  }

  .award-award p {
    font-size: 10px;
  }
}

/* ___________________--Award ENdd-_________________________________ */

/* __________________---Menu--__---________________________________________________ */

#menu {
  background: #101010;
}

.bungkus-menu {
  border-radius: 100px;
  background: #ffeed3;
}

.judul-menu {
  font-size: 16px;
  font-weight: 800;
  color: #000;

  border: 2px solid #000;
  border-radius: 50px;
  padding: 7px 20px;
}

.menu-tagline span {
  font-size: 36px;
  font-weight: 800;
  color: #000;
  line-height: normal;
}

.menu-tagline {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.6px;
}

.see-menu a {
  color: #ff9533;
  font-size: 24px;
  font-weight: 800;
}

.menu-menu {
  border-radius: 40px;
  background: #ffc38b;
}

.menu-menu:hover {
  background: #ff9533;
  transition: 0.5s;
}

.menu-menu img {
  width: 240px;
  object-fit: cover;
}

.menu-menu h1 {
  color: #000;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -2.88px;
}

.menu-menu p {
  font-size: 14px;
  color: #58391b;
  font-weight: 400;
  letter-spacing: -0.42px;
  line-height: normal;
}

.porsi svg {
  width: 20px;
}

.waktu-saji h2 {
  font-size: 14px;
  color: #000;
  font-weight: 500;
  letter-spacing: -0.42px;
}

.price h2 {
  font-size: 20px;
  color: #000;
  font-weight: 500;
}

.menu-gambar2 img {
  width: 170px;
}
.menu-gambar3 img {
  width: 100%;
}
.menu-gambar4 img {
  width: 100%;
}
.menu-gambar5 img {
  width: 100%;
}
.menu-gambar6 img {
  width: 100%;
  max-width: 170px;
}

.menu-bawah {
  padding-bottom: 290px;
}

.menu-footer {
  border-radius: 150px;
  background: #ff9533;
  height: 100%;
}

.menufoot {
  bottom: -150px;
  height: 332px;
}
.mie-double {
  width: 425px;
}

.mie-absolute {
  width: 267px;
  top: -30px;
}

.menu-footer .deskripsi h1 {
  font-size: 36px;
  font-weight: 800;
  color: #000;
  letter-spacing: -3.24px;
}
.menu-footer .deskripsi p {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  letter-spacing: -0.6px;
}

.menu-footer .deskripsi a {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  background: linear-gradient(0deg, #fff 0%, #fff 100%), #000;
  border-radius: 50px;
  padding: 20px 20px;
}

@media only screen and (max-width: 992px) {
  .menu-bawah {
    padding-bottom: 350px;
  }
  .bungkus-menu {
    border-radius: 40px;
  }

  .judul-menu {
    font-size: 12px;
  }

  .menu-tagline span {
    font-size: 25px;
  }
  .menu-tagline {
    font-size: 14px;
  }

  .see-menu a {
    font-size: 14px;
  }

  .menu-menu {
    border-radius: 25px;
  }
  .menu-menu img {
    width: 162px;
  }

  .menu-menu h1 {
    font-size: 20px;
    letter-spacing: -1.8px;
  }
  .menu-menu p {
    font-size: 14px;
    letter-spacing: -0.42px;
  }
  .menu-gambar2 img {
    width: 100%;
  }
  .menu-gambar3 img {
    width: 100%;
    max-width: 400px;
  }
  .menu-gambar4 img {
    width: 100%;
    max-width: 372px;
  }
  .menu-gambar5 img {
    width: 100%;
    max-width: 255px;
  }
  .menu-gambar6 img {
    width: 100%;
    /* max-width: 120px; */
  }
  .menufoot {
    bottom: -150px;
    /* min-height: 410px; */
    height: auto;
  }
  .mie-double {
    width: 217px;
    top: -80px;
  }

  .mie-absolute {
    width: 188px;
    top: 7%;
    left: 36%;
    transform: translate(-50%, -50%);
  }
  .menu-footer {
    border-radius: 60px;
  }

  .menu-footer .deskripsi h1 {
    letter-spacing: -1.8px;

    font-size: 20px;
  }
  .menu-footer .deskripsi p {
    font-size: 14px;
    letter-spacing: -0.42px;
  }
  .menu-footer .deskripsi a {
    font-size: 14px;
  }

  .menufood-bawah {
    margin-bottom: 150px;
  }
}
/* __________________---Menu-End-__---________________________________________________ */

/* _______----Testinomi--_______________________________ */

/* ________________Carousel________________ */

.makanan-judul {
  font-size: 16px;
  color: #fff;
  font-weight: 800;
  font-family: Montserrat;
  border-radius: 50px;
  border: 2px solid #fff;
  padding: 20px 40px;
}

.makanan-subjudul {
  font-size: 36px;

  font-weight: 800;

  color: #fff;
  letter-spacing: -2.25px;
}

.makanan-p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-family: Montserrat;
  letter-spacing: -0.42px;
}

.wrapper2 {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper2 i {
  bottom: -10%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 25px;
  background: transparent;
  border: #fff solid 2px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  color: #fff;
}
.wrapper2 i:active {
  transform: translateY(-50%) scale(0.85);
}
.wrapper2 i:first-child {
  right: 15px;
  z-index: 10;
}
.wrapper2 i:last-child {
  right: -22px;
}

.wrapper2 .carousel2 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 2) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel2::-webkit-scrollbar {
  display: none;
}
.carousel2.no-transition {
  scroll-behavior: auto;
}
.carousel2.dragging2 {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel2.dragging2 .card2 {
  cursor: grab;
  user-select: none;
}
.carousel2 :where(.card2, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel2 .card2 {
  scroll-snap-align: start;
  /* height: 390px; */
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel2 .card2 .img {
  background: #8b53ff;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card2 .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel2 .card2 h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel2 .card2 span {
  color: #6a6d78;
  font-size: 1.31rem;
}

.testismoni {
  color: #fff;

  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.nama {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

.jabatan {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.htestis1 {
  width: 342.565px;
  left: -100px;
  top: 150px;
  z-index: 1;
}
.htestis2 {
  width: 267px;
  right: -50px;
  bottom: 80px;
}

#komentar {
  padding: 10px 0px;
}

@media screen and (max-width: 900px) {
  .makanan-judul {
    font-size: 12px;
    color: #fff;
    font-weight: 800;
    font-family: Montserrat;
    border-radius: 50px;
    border: 2px solid #fff;
    padding: 20px 40px;
  }

  .makanan-subjudul {
    font-size: 25px;

    font-weight: 800;

    color: #fff;
    letter-spacing: -2.25px;
  }

  .makanan-p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: Montserrat;
    letter-spacing: -0.42px;
  }
  .wrapper2 .carousel2 {
    grid-auto-columns: calc((100% / 1) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper2 .carousel2 {
    grid-auto-columns: 100%;
  }
  .wrapper2 i:first-child {
    left: 0px;
    z-index: 10;
  }
  .wrapper2 i:last-child {
    right: 0px;
  }
}
/* ________________Carousel end______________ */
/* _______----Testinomi end--_______________________________ */

/*______________________-___--____ FAQ-__----------------__________________ */
/* FAQ__________________________________________ */

#faq {
  margin-top: 10px;
  margin-bottom: 100px;
}

.faq-judul h2 {
  font-size: 12px;

  font-family: Montserrat;
  font-weight: 800;
  color: #fff;

  border-radius: 50px;
  border: 2px solid #fff;
  padding: 10px 40px;
  display: inline-block;
}

.faq-judul h1 {
  color: #fff;
  font-size: 25px;
  letter-spacing: -2.25px;
  font-family: Montserrat;
  font-weight: 800;
  line-height: normal;
}

.faq-judul p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.42px;
}

.tab input,
.tab .content {
  display: none;
}
.tab input:checked ~ .content {
  transition: all 0.2s ease;
  display: block;
}

.judul-table {
  border-radius: 50px;
}
.judul-table p {
  width: 90%;
}

.tab input:checked ~ .judul-table {
  transition: all 0.2s ease;
  border-radius: 50px 50px 0 0;
}

.tab label {
  display: block;
  padding: 10px;
  color: #fff;
  font-family: Montserrat;
  letter-spacing: -1.08px;

  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
}

.tab .content {
  padding: 10px;
  border-radius: 0 0 50px 50px;
  transition: all 0.2s ease;
}

.tab label {
  position: relative;
}
.tab label::after {
  display: block;
  content: url('img/plus.svg');

  position: absolute;
  right: 27px;
  top: 27px;
  transition: all 0.4s;
}
.tab input:checked ~ label::after {
  transform: rotate(180deg);
}

.tab .content {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: -1.26px;

  font-style: normal;
  font-weight: 400;
}

.hfaq1 {
  width: 230px;
  top: 107px;
  left: -90px;
}
.hfaq2 {
  width: 240px;
  bottom: 0px;
  right: -90px;
}

@media only screen and (min-width: 992px) {
  .hfaq1 {
    width: 261px;
    top: 107px;
    left: -50px;
  }
  .hfaq2 {
    width: 275px;
    bottom: 0px;
    right: -50px;
  }
  .faq-judul h2 {
    font-size: 16px;
  }

  .faq-judul h1 {
    font-size: 36px;
    letter-spacing: -3.24px;
  }

  .faq-judul p {
    font-size: 20px;
    letter-spacing: -0.6px;
  }
  .tab input,
  .tab .content {
    display: none;
  }
  .tab input:checked ~ .content {
    display: block;
    transition: all 0.2s ease;
  }

  .judul-table {
    border-radius: 80px;
  }
  .judul-table p {
    width: 90%;
  }
  .tab input:checked ~ .judul-table {
    border-radius: 50px 50px 0 0;
    transition: all 0.2s ease;
  }

  .tab label {
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: -1.8px;
    font-family: Montserrat;
  }

  .tab .content {
    padding: 10px;
    border-radius: 0 0 50px 50px;
    transition: all 0.2s ease;
  }

  .tab label {
    position: relative;
  }
  .tab label::after {
    display: block;
    content: url('img/plus.svg');

    position: absolute;
    right: 35px;
    top: 26px;
    transition: all 0.4s;
  }

  .tab input:checked ~ label::after {
    transform: rotate(180deg);
  }

  .tab .content {
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    letter-spacing: -1.8px;

    font-weight: 400;
  }
}

.bg-faq1 {
  border-radius: 80px;
  background: rgba(135, 135, 135, 0.3); /* box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.25); */
  backdrop-filter: blur(12.5px);
  color: white;
}

/* FAQ end__________________________________________ */

/* ________________________-__--__FAQ end--______________________________ */

/* FOoter____________________________________________--______________________ */

footer {
  background-color: #ffeed3;
}

.footer-qdayak h5 {
  font-size: 20px;
  letter-spacing: -1.8px;
  font-weight: 800;
  color: #000;
}

.footer-qdayak p {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.36px;
  font-family: Montserrat;
}
.footer-qdayak p span {
  font-weight: 600;
  color: #000;
}

.cp {
  color: rgba(108, 108, 108, 0.68);

  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cp span {
  color: rgba(108, 108, 108, 0.68);
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cp a {
  color: #ff9533;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

.footer-kiri li a {
  color: #000;

  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.42px;
}

.footer-kiri .judul {
  font-weight: 600;
}

.border-footer {
  border-top: 3px solid rgba(0, 0, 0, 0.17);
}

@media only screen and (min-width: 998px) {
  .footer-qdayak h5 {
    font-size: 20px;
    letter-spacing: -1.8px;
    font-weight: 800;
    color: #000;
  }

  .footer-qdayak p {
    color: #000;
    font-size: 16px;
    font-weight: 400;
  }

  .footer-kiri li a {
    color: #000;

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.42px;
  }
  .footer-kiri .judul {
    font-weight: 600;
  }
}
/* FOoter Endd____________________________________________--______________________ */
