html {
  font-family: 'Montserrat', sans-serif;
  background: #101010;
  font-family: Montserrat;
}

body {
  margin: 0px;
  border: 0px;
}

/* Navbar */
.inner-navbar {
  max-width: 1440px;
}

.nav-item {
  margin: 0px 17px;
}

.navbar-nav {
  border-radius: 20px;
  background: rgba(255, 149, 51, 0.6);
}

.navbar-nav p {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}

.navbar {
  transition: all 0.2s linear;
  padding: 0px;
  margin: 0px;
  background: rgba(245, 245, 245, 0);
}

.navbar.scrolled {
  background: rgba(0, 0, 0, 0.842);
  backdrop-filter: blur(5px);
}

.logo {
  color: white;
}

.logo span {
  color: #fdc55e;
}

.menu {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  backdrop-filter: blur(5px);
}

.nav-order {
  border-radius: 50px;
  background: linear-gradient(0deg, #ff9533 0%, #ff9533 100%), #000;
}

.nav-order p {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}

@media only screen and (min-width: 992px) {
  .navbar-nav {
    border-radius: 100px;
    backdrop-filter: blur(5px);
    background: rgba(255, 149, 51, 0.6);
  }

  .menu {
    background: none;
    backdrop-filter: none;
  }
}

.logo h2 {
  font-size: 23px;
}

@media only screen and (min-width: 768px) {
  .logo h2 {
    font-size: 35px;
  }
}

.navbar-toggler-icon {
  color: #fff;
}

/* Navbar end */

/* ___________________--Landing_-_____________________________ */

#landing {
  width: 100vw;
  min-height: 900px;
  background: #101010;
  padding-bottom: 162px;
}

.border-landing {
  background: #ffeed3;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
.landingcon {
  height: 100%;
}

.welcome-landing {
  margin-top: 150px;
}

.text-landing .welcome-landing {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 800;
  border: #000 2px solid;
  padding: 10px 40px;
  border-radius: 50px;
}

.tagline-landing {
  color: #000;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: -5.76px;
}

.tagline-landing span {
  color: #ffa439;
  text-align: center;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px; /* 93.75% */
  letter-spacing: -5.76px;
}

.deskripsi-tagline-landing {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gambar-landing {
  width: 705px;
}

.gambar-kiri {
  bottom: 0;
  left: 0;
  height: 325.665px;
}

.emot-lope {
  top: 0;
  left: 150px;
  width: 64.492px;
}

.king {
  width: 96.771px;
  top: 0;
  right: 237px;
}

.lope {
  width: 267px;
  right: 0;
  bottom: 180px;
}

.tombol-landing {
  border-radius: 50px;
  background: #ffeed3;
  bottom: 90px;
  padding: 10px;
}

.tombol-landing .order {
  border-radius: 50px;
  border: 2px solid #000;
  background: linear-gradient(0deg, #ff9533 0%, #ff9533 100%), #000;
  color: #000;
  width: 177px;
  height: 59px;
  flex-shrink: 0;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.tombol-landing .more {
  width: 177px;
  height: 59px;
  flex-shrink: 0;
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  border-radius: 50px;
  border: 2px solid #000;
}
.aboutus-atas-kanan {
  width: 312.486px;
  bottom: 0px;
  right: -20px;
}
.aboutus-atas-kiri {
  width: 400px;
  bottom: 30px;
  left: -120px;
}

@media only screen and (max-width: 992px) {
  .text-landing .welcome-landing {
    font-size: 12px;
  }
  .tagline-landing {
    font-size: 30px;
    letter-spacing: -2.7px;
    line-height: 10px;
  }
  .tagline-landing span {
    font-size: 30px;
    letter-spacing: -2.7px;
  }
  .gambar-landing {
    width: 444px;
  }
  .tombol-landing .more {
    width: 112px;
    height: 37px;
    font-size: 10px;
  }

  .tombol-landing {
    padding: 8px;
    bottom: 50px;
  }
  .tombol-landing .order {
    width: 112px;
    height: 37px;
    font-size: 10px;
  }
  .order-icon {
    width: 10px;
    height: 10.513px;
  }
  .gambar-kiri {
    bottom: 150px;
    left: 0;
    height: 120px;
  }
  .lope {
    width: 120px;
    right: -50px;
    bottom: 180px;
  }
  .emot-lope {
    top: 0;
    left: 110px;
    width: 22px;
  }
  .king {
    width: 68px;
    top: 0;
    right: 100px;
  }
  .aboutus-atas-kanan {
    width: 122px;
    bottom: 0px;
    right: -20px;
  }
  .aboutus-atas-kiri {
    width: 120px;
    bottom: 0px;
    left: -10px;
  }

  #landing {
    padding-bottom: 0;
    min-height: 690px;
  }
}

/* ___________________--Landing end_-_____________________________ */

/* _____________________--Aboutus-____________________________________________ */

#aboutus {
  background-color: #101010;
}

.judul-aboutus {
  font-size: 16px;
  font-weight: 800;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 7px 20px;
}
.tagline-aboutus {
  color: #fff;
  font-size: 36px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -2.5px;
}

.menu-aboutus p,
span {
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
}

.menu-aboutus li {
  list-style: none;
}

.menu-aboutus ul {
  padding: 0%;
}

.learnmore {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  border-radius: 50px;
  background: #ff9533;
  padding: 10px 25px;
}

.img-aboutus {
  width: 100%;
  height: 440px;
  border-radius: 80px;
  object-fit: cover;
  object-position: center;
}

@media only screen and (max-width: 992px) {
  .judul-aboutus {
    font-size: 12px;
  }

  .tagline-aboutus {
    font-size: 25px;
  }
  .menu-aboutus p,
  span {
    font-size: 14px;
  }
  .img-aboutus {
    height: 390px;
  }
}

/* _____________________--Aboutus end-____________________________________________ */

/* ___________________--Award-_________________________________ */

#award {
  background-color: #101010;
}

.judul-award {
  font-size: 16px;
  font-weight: 800;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 7px 20px;
}
.tagline-award {
  color: #fff;
  font-size: 36px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -2.5px;
}

.menu-award p {
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
}

.img-award {
  width: 100%;
  height: 571.64px;

  border-radius: 80px;
  object-fit: cover;
  object-position: center;
}

.award-award {
  border-radius: 80px;
  background: rgba(135, 135, 135, 0.3);
  padding: 25px 10px;
}

.award-award h1 {
  color: #ff9533;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.award-award p {
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

@media only screen and (max-width: 992px) {
  .judul-award {
    font-size: 12px;
  }

  .tagline-award {
    font-size: 25px;
  }
  .menu-award p {
    font-size: 14px;
  }
  .img-award {
    height: 390px;
  }

  .award-award {
    padding: 25px 10px;
  }

  .award-award h1 {
    font-size: 25px;
  }

  .award-award p {
    font-size: 10px;
  }
}

/* ___________________--Award ENdd-_________________________________ */
